<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../static/student dashboard.css">
</head>

<body>

    <main>
        <aside class="sidebar">
            <article id="hm">Home</article>
            <article id="cr">Courses</article>
            <article id="fc">Fee Section</article>
            <article id="pa">Performance Analysis</article>
            <article id="ac">Additonal Certication</article>
        </aside>

        <section>
            <div style="font-size: 100px;" id="content">

            </div>
        </section>
    </main>

    <script>
        const atc = document.getElementById("hm");
        const atc2 = document.getElementById("cr");
        atc.addEventListener("click", () => {

        })
        atc2.addEventListener("click", () => {
        })
    </script>
</body>

</html>